*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    color:rgba(255, 255, 255, 0.7)!important;
}
h1{
    text-align: left!important;
    color: white;
padding-top: 1.7%;
font-size: 1.7rem!important;
padding-left: 0.9vw;

}

.headin{

    height: 12vh;
    
    
    }
    .foot{
        font-weight: bolder;
        
        background-color: gray!important;
        margin-bottom: 0%;
        padding-bottom: 0%;
        bottom: 0%;
        
    }

.login-page{
   
    
    border: 0.2vw solid black;
    padding: 0.3vw;
    padding-top: 0.1vw;
    height: auto!important;
    width: 59vw!important;
   
    
   
    
    

}
.foots{
    text-align: center;
}
a{
    text-decoration: none;
}
.foot a{
    color: blue!important;
    text-decoration: none;
}
.log{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.foots{
    padding: 10px 0;
background-color: #101010;
 color:#9d9d9d;
bottom: 0 ;
width: 100%;
text-align: center;
}
@media(max-width:1440px){
    .log{
        height: auto;
        margin-top: 1%;
    }
}
@media(max-width:500px){

    .login-page{
   
    
        border: 0.2vw solid black;
        padding: 0.3vw;
        padding-top: 0.1vw;
        height: auto!important;
        width: 79vw!important;
        
       
        
       
        
        
    
    }   
}
